# Python cache files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
**/.DS_Store

# Environment files
.env
.venv
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo